<!-- templates/loginPage.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <div class="box">
        <form action="http://localhost:5000/login" method="post">
            <div class="panel">
                <header><strong>Sign in</strong></header>
                <br>
                <label><b>login</b>
                    <br>
                    <input id="login" type="text" placeholder="Enter username" name="login" required>
                    <br>
                    <span id="error-login" class="error" aria-live="polite"></span>
                    <br>
                </label>
                <br>
                <label><b>Password</b>
                    <br>
                    <input id="password" type="password" placeholder="Enter password" name="password" required>
                    <br>
                    <span id="error-password" class="error" aria-live="polite"></span>
                    <br>
                </label>
                <hr>
                <button type="submit" >Sign in</button>
                <br>
                <p>Don't have an account? <a href="/registration">Sign up</a></p>
            </div>
        </form>
    </div>
</div>

{% endblock %}