{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form action="/registration" method="post">
            <div class="panel">
                <header><strong>Registration</strong></header>
                <br>
                <label><b>login</b>
                    <br>
                    <input id="login" type="text" placeholder="Enter login" name="login" required>
                    <br>
                    <span id="error-username" class="error" aria-live="polite"></span>
                    <br>
                </label>

                <br>
                <label><b>Password</b>
                    <br>
                    <input id="password" type="password" placeholder="Enter password" name="password" required>
                    <br>
                    <span id="error-password" class="error" aria-live="polite"></span>
                    <br>
                </label>
                <br>
                <label><b>Email</b>
                    <br>
                    <input id="email" type="email" placeholder="Enter email" name="email" required>
                    <br>
                    <span id="error-email" class="error" aria-live="polite"></span>
                    <br>
                </label>

                <button type="submit">Register</button>
                <p>Already have an account? <a href="/loginPage">Sign in</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}